---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout>
	<h1 class="text-xl dark:text-white">514sid</h1>
	<div class="flex flex-col gap-4 mt-4">
		<p class="text-lg text-neutral-600 dark:text-neutral-300 transition-colors">
			Writing about digital signage, development, and whatever else is worth
			thinking about
		</p>
		<p class="text-lg text-neutral-600 dark:text-neutral-300 transition-colors">
			Product manager at
			<a href="https://www.screenly.io" target="_blank" class="text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-300">
			  Screenly
			</a>,
			curator of
			<a href="https://signagelist.org" target="_blank" class="text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-300">
			  SignageList
			</a>
		  </p>
		<p class="text-lg text-neutral-600 dark:text-neutral-300 transition-colors">
			Also a moderator of <a href="https://reddit.com/r/digitalsignage" target="_blank" class="text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-300">r/digitalsignage</a>
		</p>
	</div>
	<div class="flex gap-4 mt-4">
		<a href="https://github.com/514sid" target="_blank" class="text-neutral-500 dark:text-neutral-400 hover:text-black dark:hover:text-white transition-colors">
			GitHub
		</a>
		<a href="https://reddit.com/user/514sid" target="_blank" class="text-neutral-500 dark:text-neutral-400 hover:text-black dark:hover:text-white transition-colors">
			Reddit
		</a>
		<a href="https://x.com/514sid_" target="_blank" class="text-neutral-500 dark:text-neutral-400 hover:text-black dark:hover:text-white transition-colors">
			X
		</a>
		<a href="mailto:iam@514sid.com" target="_blank" class="text-neutral-500 dark:text-neutral-400 hover:text-black dark:hover:text-white transition-colors">
			iam@514sid.com
		</a>
	</div>
	<div class="grid grid-cols-1 gap-4 mt-10 text-lg">
		{
			posts.map((post) => (
				<a
					href={`/blog/${post.id}`}
					class="flex flex-col md:flex-row gap-1 md:gap-5 items-top group"
				>
					<span class="text-neutral-500 dark:text-neutral-400 w-24 flex-shrink-0 font-mono text-base md:mt-0.5">
						{post.data.date.toLocaleDateString('en-US', {
							year: 'numeric',
							month: '2-digit',
							day: '2-digit'
						})}
					</span>
					<span class="text-neutral-700 dark:text-neutral-200 group-hover:text-black dark:group-hover:text-white transition-colors">
						{post.data.title}
					</span>
				</a>
			))
		}
	</div>
</Layout>
