{
    !Astro.url.pathname || Astro.url.pathname === "/" ? (
        <div />
    ) : (
        <a
            href="/"
            class="text-gray-500 dark:text-neutral-400 hover:text-black dark:hover:text-white transition-colors"
        >
            Home
        </a>
    )
}