---
export interface Props {
	title?: string
	canonical?: string
}

const { title, canonical } = Astro.props
const siteTitle = '514sid'
const fullTitle = title ? `${title} - ${siteTitle}` : siteTitle
const canonicalUrl = canonical ? new URL(canonical, Astro.site).href : Astro.site
---

<title>{fullTitle}</title>
<link rel="canonical" href={canonicalUrl} />
